# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Node (frontend)
node_modules/
.npm/

# Data / indexes (IMPORTANT)
faiss_index/
*.faiss
*.pkl

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store